.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .allan-regular {
    font-family: "Allan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .allan-bold {
    font-family: "Allan", serif;
    font-weight: 700;
    font-style: normal;
  }

  .container{
    background: chocolate;
    height: 100px;
  }
 .container-fluid{
    /*background: fuchsia;
    height: 100px;*/
  }
  .row{
    /*background-color:aquamarine;*/
    margin: 5px;
  }
  .col{
    /*background-color: darkorange;*/
    margin: 2px;
  }
 